* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    min-height: 100vh;
    padding: 0px 20px;
}

.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: grid;
    place-items: center;
}

.main-child {
    width: 600px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 33px #00000059;
    border-radius: 10px;
}

@media (max-width:767px) {
    .container {
        width: 94%;
    }

    .main-child {
        width: 100%;
    }
}

.search {
    width: 100%;
    margin-bottom: 28px;
}

.search form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
}

.search form input {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 6px 5px 2px;
    border: none;
    border-bottom: 2px solid crimson;
    outline: none;
    color: #333;
    letter-spacing: 1px;
}

.search form input::placeholder {
    color: gray;
    font-size: 18px;
    letter-spacing: 1px;
}

.search form button {
    border: 0px;
    background-color: crimson;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.details {
    width: 100%;
}

.flag-country-name {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.flag {
    width: 45%;
    height: 180px;
    margin: auto;
    margin-bottom: 14px;
}

.flag img {
    width: 100%;
    height: 100%;
}

@media (max-width:767px) {

    .flag {
        width: 100%;
    }


}

.country-name h1 {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.info {
    width: 100%;
}

.column {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 16px;
}

.column:last-child {
    margin-bottom: 0px;
}

.column h2 {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.column span {
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

@media (max-width:582px) {
    .search form {
        grid-template-columns: 1fr;
    }

    .search form button {
        padding: 6px 20px;
    }

    .search form input {
        font-size: 16px;
    }

    .search form input::placeholder {
        font-size: 14px;
    }

    .country-name h1 {
        font-size: 24px;
    }

    .flag {
        height: 130px;
    }

    .flag-country-name {
        margin-bottom: 24px;
    }

    .column {
        margin-bottom: 10px;
    }

    .column h2 {
        font-size: 18px;
    }

    .column span {
        font-size: 18px;
    }

}

@media (max-width:392px) {

    .search form input::placeholder {
        font-size: 10px;
    }

}

@media (max-width:370px) {


    .column h2 {
        font-size: 16px;
    }

    .column span {
        font-size: 16px;
    }

}